<!doctype html>
<html>

<head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Fluffy Barnacle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div id="container">
    {{{body}}}
  </div>
</body>

</html>
